@using TiroGuerra.Models

@{
    ViewBag.Title = "Cadastro chamada";
    
}
<!doctype html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chamada</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h3>Chamada Online</h3>

        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Número</th>
                        <th>Presença</th>
                    </tr>
                </thead>
                <tbody>
                <form action="/chamada/create" method="POST">
                @foreach(var atirador in ViewBag.atiradores)
                {     
                    <tr> 
                    <td><input type="text" id="IdAtirador" name="IdAtirador" value="@atirador.Id"></td>          
                    <td>@atirador.Nome</td>
                    <td>@atirador.Numero</td>
                    <td><input id="Presenca" name="Presenca" value="false" type="checkbox"></td>
                    </tr>
                       
                }
                    <button class="btn btn-primary">Salvar</button>
                </form>   
                        
                        
                </tbody>
            </table>
            
        </div>
        
    </body>
</html>