<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiroGuerra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!--<link rel="stylesheet" href="~/css/site.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/home.css"></link>-->

   <link rel="stylesheet" href="~/css/navbar.css"> </link>
   <link rel="stylesheet" href='@ViewData["css"]'> </link>

</head>
<body>
    <header>

        
        <div class="logo">
            <a href=""><img src="../images/exercitologo.png"></a>
        </div>

        
        <div class="drop">
            <div class="dropdown">
                <span><img src="../images/menu.png" class="icone-dropdown"> </span>
                <div class="dropdown-content">
                    <a href="/"> Home </a>
                    <a href="#"> Sobre</a> 
                    <a href="#"> Instrutor</a> 
                    <a href="/atirador/cadastrar"> Atirador</a>
                    <a href="#"> Perfil</a>
                </div>
            </div>
        </div>

        <div class="menu">
            <ul>
        
                <li> <a href="/"> Home</a> </li>
                <li> <a href="#"> Sobre</a> </li>
                <li> <a href="#"> Instrutor</a> </li>
                <li> <a href="/atirador/cadastrar"> Atirador</a> </li>
                <li> <a href="#" class="link"> <img src="../images/perfil.png"></a> </li>

            </ul>

        </div>
    </header>

    <body>
         @RenderBody()
    </body>
   

    <footer>
        <div class="footer">
             2021 - TiroGuerra - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
