@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiroGuerra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!--<link rel="stylesheet" href="~/css/site.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/home.css"></link>-->

   <link rel="stylesheet" href="~/css/navbar.css"> </link>
   <link rel="stylesheet" href='@ViewData["css"]'> </link>

</head>
        <header>
        <nav>
            <a class="logo" href="#"> <img src="../images/exercitologo.png">  </a>

            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-list">
                <li><a href="/">Home     </a></li>
                
                @if(string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Nome")))
                {
                   <li><a href="/atirador/login">Login</a></li>
                }
                else{
                    <li><a href="#">Chamada  </a></li>
                    <li><a href="#">Guarnição</a></li>
                    <li><a href="/atirador/create">Atirador </a></li>
                    <li><a href="/instrutor/create">Insrutor </a></li>
                    <li><a href="#">@HttpContextAccessor.HttpContext.Session.GetString("Nome")</a></li>

                }
                
            </ul>
        </nav>
    </header>

    <body>
         @RenderBody()

   
    <footer>
        <span>André, Matheus, Paulo e Thamiris</span>
        <span> Nos siga nas redes sociais</span>
        <div class="redes">
            <a href="#"> <img class="rede-social" src="../images/twiter.png">    </a>
            <a href="#"> <img class="rede-social" src="../images/facebook.png">  </a>
            <a href="#"> <img class="rede-social" src="../images/instagram.png"> </a>
        </div>
        
    </footer>

    <script src="~/js/navbar.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
