@{
    ViewBag.Title = "Cadastro Atirador";
    ViewBag.css = "/css/instrutor.css";
}
    
    <div class="background-image"></div>

    <div class="content">

        <section class="flex-row">
            <div class="col-wd-100">
                <h1 class="title">Cadastro de Instrutor</h1>
            </div>
        </section>

        <form method="POST" action="/instrutor/create">

            <section class="flex-row">
                <div class="col-wd-50">
                    <label for="textoCPF">Nome:</label>
                    <input type="text" name="nome" placeholder="Insira o nome do atirador" required> 
                </div>

                <div class="col-wd-50">
                    <label for="textoCPF" class="form-label">CPF:</label>
                    <input type="text" name="CPF" placeholder="Insira o número de CPF" required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label class="form-label">RG</label>
                    <input type="text" name="RG" placeholder="Insira o número do RG" required="true">
                </div>


                <div class="col-wd-50">
                    <label>Graduacao:</label>
                    <select name="Graduacao" required="true">
                        <option selected>Selecione uma Graduacao</option>
                        <option value="Subtenente">Subtenente</option>
                        <option value="1º Sargento">1º Sargento</option>
                        <option value="2º Sargento">2º Sargento</option>
                        <option value="3º Sargento">3º Sargento</option>
                        <option value="Cabo">Cabo</option>

                    </select>

            </section>


            <section class="flex-row">
                <div class="col-wd-50">
                    <label>Senha</label>
                    <input type="password" name="Senha" placeholder="Insira a senha do atirador" required="true">
                </div>

            </section>

            <section class="endForm">
                <button class="btn-salvar">Salvar</button>
            </section>

        </form>
    </div>