@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.css = "/css/home.css";
}

        <section class="banner">
            
        </section>

<div class="content">


        <section class="title">
                <h2 class="titulo">Bem vindo!</h2>
                    <br><br><br>
                    <p class="subtitulo"> Esse é um site desenvolvido para auxiliar o tiro de guerra em suas atividades rotineiras</p>
        </section>
        <section class="funcoes" >
            <div class="item">
                <div class="icon">
                    @if(string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Nome")))
                    {
                        <img src="../images/iconeChamada.png" alt=""/>
                    }
                    else{
                        <a href="/chamada/index"><img src="../images/iconeChamada.png" alt=""/></a>
                    }
                    
                </div>
                <div class="down-content">
                    <h4>Chamada</h4>
                    <p class="">Chamada realizada diariamente na instrução</p>
                </div>
            </div>
                
            <div class="item">
                <div class="icon">
                    @if(string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Nome")))
                    {
                        <img src="../images/iconeGuarn.png" alt=""/>
                    }
                    else{
                        <a href="/guarnicao"><img src="../images/iconeGuarn.png" alt=""/> </a>
                    }
                </div>
                <div class="down-content">
                    
                    <h4>Guarnição</h4>
                    <p>Guarnição referente as guardas realizadas diariamente</p>
                </div>
            </div>

            <div class="item">
                <div class="icon">
                    <img style="align-self: auto;" src="../images/iconeNotificacao.png" alt=""/> 
                </div>
                <div class="down-content">
                    <h4>Notificação</h4>
                    <p>Notificações e mensagens referentes ao tiro de guerra</p>
                </div>
            </div>

        </section>
        <form method="POST" action="/usuario/email">
            <input type="hidden" name="emailDestinatario" value="matheusamaros@hotmail.com"/>
            <input class="button" type="submit" value="Enviar email"/>
            <br/>
            <br/>
            <br/>
            <br/>
        </form>
        
</div>