@using TiroGuerra.Models

@{
    ViewBag.Title = "Cadastro Atirador";
    ViewBag.css = "/css/atirador.css";
}
    
    <section class="linha">
        <div class="wd100">
            <h2 class="title">Cadastro de Atirador</h2>
        </div>
    </section>
        
    
        <form method="POST" action="/atirador/cadastrar">

            <section class="linha">
                <div class="wd50">
                    <label for="textoCPF" class="form-label">Nome</label>
                    <input type="text" name="Nome" required="true" class="form-control" id="nome" aria-describedby="cpf" placeholder="Insira o nome do Atirador">
                </div>

                <div class="wd50">
                    <label for="textoCPF" class="form-label">CPF</label>
                    <input type="text" name="CPF" required="true" class="form-control" id="cpf" aria-describedby="cpf" placeholder="Insira o CPF do Atirador">
                </div>
            </section>

            <section class="linha">
                <div class="wd50">
                    <label class="form-label">RG</label>
                    <input type="text" name="RG" required="true" class="form-control" placeholder="Insira o número do RG do Atirador">
                </div>

                <div class="wd50">
                    <label class="form-label">RA</label>
                    <input type="text" name="RA" required="true" class="form-control" placeholder="Insira o número do RA do Atirador">
                </div>
            </section>

            <section class="linha">
                <div class="wd50">
                    <label class="form-label">Formação:</label>
                    <select class="form-select" name="Formacao" required="true" aria-label="Default select example">
                        <option selected>Selecione uma das formações</option>
                        <option value="Atirador">Atirador</option>
                        <option value="Comandante">Soldado</option>
                        <option value="Cabo">Cabo</option>
                    </select>
                </div>

                <Insira o número do Atirador class="wd50">
                    <label class="form-label">Pelotão:</label>
                    <select class="form-select" name="IdPelotao" required="true" aria-label="Default select example">
                        <option selected disabled>Selecione o Pelotão do Atirador</option>
                          @foreach(var pelotao in ViewBag.pelotoes)
                        {                
                          <option value="@pelotao.Id">@pelotao.Nome</option>    
                        }
                    </select>
                </div>
            </section>

            <section class="linha">
                <div class="wd50">
                    <label class="form-label">Número</label>
                    <input type="text" name="Numero" required="true" class="form-control" placeholder="Insira o número do Atirador">
                </div>
            </section>

            <section class="endForm">
                <button class="btn btn-primary">Salvar</button>
            </section>


        </form>    
    
