@using TiroGuerra.Models
@{
    ViewBag.Title = "Login";
    ViewBag.css = "/css/login.css";
}

 <div class="background-image"></div>
    
<div class="content">

    <form method="POST" action="/atirador/login">

        <section class="flex-row">
            <div class="col-wd-50">

                <label class="title">Login</label>

                <label for="textoCPF" class="cred">CPF do Usuário:</label>
                <input type="text" name="CPF" placeholder="Insira o nome do atirador" required> 

                <label for="textoCPF" class="cred">Senha:</label>
                <input type="password" name="Senha" placeholder="Insira o número de CPF" required="true">
                
                <a href="#" class="rem" style="margin-left: auto; margin-top: 5%;">Esqueci minha senha</a>
                
                <div class="caixa-botao">
                    <button class="btn-salvar">Entrar</button>
                </div>

            </div>

            <div class="col-wd-50">

                <div class="caixa-titulos">
                    <label class="titulo-tg"> TG 02-033</label>
                    <label class="titulo-cidade"> São José do Rio Preto</label>
                </div>
            </div>
        </section>

    </form>
</div>