
body{
    background-color: black;
    color: white;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 10%;
    }


.banner{
    background-image: url('../images/8.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 20%;
    height: 40vw;
    z-index: 1;
    filter: brightness(50%);
    left: 0;
    right: 0;
    display: block;
 
}
 

section.title{
    width: 100%;
}

 h2.titulo{
    padding-top: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    z-index: 8;

    margin: 0 auto;
    display:table;

}
 p.subtitulo{
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    display: table;
    
}

.funcoes{
    padding-top: 35vw;
    padding-top: 20%;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    width: 100%;
}

.item{
    padding-top: 5%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 33%;
    height: 200px;
 
}

img{
    padding: 10 auto;
    text-align: center;
    
    
}

 h4 {
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
}


@media screen and (max-width: 768px)
{
      /* apagando o fundo do menu*/
    .menu{
        width: 100%;
        background-color: black;
    }

    .banner{
        width: 80%;
        height: 350px;
        background-size: cover;
        margin: 0 auto;
    }
    
    h2.titulo{
        padding-top: 5vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        padding-bottom: 3vw;
    }
    p.subtitulo{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        top: -6vw;
        position: relative;
    
    }

    p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px)
{
    h2.titulo{
        margin-right: 20%;
    }
}