
/* Começo CSS Padrão */
.flex-row{
display: flex;
flex-wrap:wrap;
margin-top: 3%;
/*margin-left: 5%;*/
margin-right: 5%;
}

.col-wd-100{
    text-align: center;
    width: 100%;
}

.col-wd-50{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.col-wd-33{
width: 33.3%;
padding: 10px 20px;
}

/* Especifico */
h1.title{
    font-size: 45px;
}

.endForm {
width: 100%;
display: flex;
justify-content: end;
padding-top: 10px;
margin-bottom: 5%;
}

.btn-salvar{
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-right: 10%;
    border-radius: 50px;
    font-weight: bolder;
    border-style: none;
}

.btn-salvar:hover{
    opacity: 0.9;
}


/* Campos de texto */

label{
    color: white;
    font-size: 25px;
    display: flex;
    margin-right: auto;
    margin-left: 10%; /*ajustar essa margin de acordo com width do input abaixo*/
}

h1{
color: white;
font-size: 25px;
}

select{
width: 80%;
font-size: 20px;
color: rgb(255, 255, 255);
text-align: center;
background: transparent ;
margin-top: 5%;
}

select option{
background: white;
color: black;
}



input{
margin-top: 10px;
background: transparent;
border-style: solid;
border-top: none;
border-left: none;
border-right: none;
border-width: 1px;
border-color: white;
width: 80%;
color: white;
font-size: 20px;
}


/* fundo  */ 
.background-image {
position: fixed;
left: 0;
right: 0;
z-index: 1;
display: block;
background-image: url("../images/3.jpeg");
width: 100%;
height: 100%;
filter: brightness(35%);
background-size: cover;
}

.content {
position: absolute;
left: 0;
right: 0;
z-index: 2;
top: 10%;
}


/* Quando a dimensão da tela for menor que 780px*/
@media screen and (max-width: 780px)
{

    body{
        overflow: visible;
    }

header{
    z-index: 3;
    padding: 0px;
}

    /* responsividade das linhas e campos*/

    /*tamanho das fontes diminuem*/
    .flex-row{
        font-size: 16px; 

    }

    .col-wd-100{
    margin-top: 5%;
    }

    /*botão salvar ocupará mais espaço na tela*/
    .col-wd-50, .endForm{ 
        width: 100%;
        padding: 10px 0;

    }

    .endForm{
    justify-content: center;
    }

    .btn-salvar{
    margin-right: 0;
    width: 40%;
    margin-top: 0;

    }

    /* aumenta area de click */
    .col-wd-33{
        display: inline-block; 
    }

    
    input{
        width: 100%;
        margin: 5% 5%;

    }

    label{
        margin-left: 0;
    }

    select{
    width: 90%;
    }

    h1.title{
        font-size: 35px;
    }
}

@media (max-width: 500px)
{
    *{
        font-size: 20px;
    }

}
