body{
    overflow: hidden;
}

/* Começo CSS Padrão */
.flex-row{
display: flex;
flex-wrap:wrap;
margin-top: 3%;
margin-left: 5%;
margin-right: 5%;
}

.col-wd-100{
    text-align: center;
    width: 100%;
}

.col-wd-50{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.col-wd-33{
width: 33.3%;
padding: 10px 20px;
}



label.titulo-tg{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;

}

label.titulo-cidade
{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
}

.caixa-titulos
{
    height: 200px;
    margin: 10%;
}

.btn-salvar{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    margin-top: 10%;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-weight: bolder;
    border-style: none;
}

.btn-salvar:hover{
    opacity: 0.9;
}


/* Campos de texto */

label{
    color: white;
    font-size: 25px;
    display: flex;
    margin-top: 10%;
}

label.cred{
    margin-right: auto;
}

label.title{
    margin-top: 10%;
    font-size: 40px;
    font-weight: bold;
}

input{
margin-top: 10px;
background: transparent;
border-style: solid;
border-top: none;
border-left: none;
border-right: none;
border-width: 2px;
border-color: white;
width: 100%;
color: white;
font-size: 20px;
}


/* fundo  */ 
.background-image {
position: fixed;
left: 0;
right: 0;
z-index: 1;
display: block;
background-image: url("../images/9.jpg");
width: 100%;
height: 100%;
filter: brightness(35%);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.content {
position: absolute;
top:10%;
left: 0;
right: 0;
z-index: 2;
}

.caixa-botao{
    height: 50px;

}

/* Quando a dimensão da tela for menor que 780px*/
@media screen and (max-width: 780px)
{

    body{
        overflow: visible;
    }

header{
    z-index: 3;
    padding: 0px;
}

    /* responsividade das linhas e campos*/

    /*tamanho das fontes diminuem*/
    .flex-row{
        font-size: 16px; 

    }

    .col-wd-100{
    margin-top: 10%;
    }

    /*botão salvar ocupará mais espaço na tela*/
    .col-wd-50, .endForm{ 
        width: 100%;
        padding: 10px 0;

    }


    .btn-salvar{
    margin-right: 0;
    width: 150px;
    margin-top: 0;

    }

    /* aumenta area de click */
    .col-wd-33{
        display: inline-block; 
    }

    
    input{
        width: 100%;
        margin: 5% 5%;

    }
    label.cred{
        margin-right: auto;
        margin-left: 0
    }
    
    label.titulo-tg{
        margin:0 20%;
    }
 
}

@media (max-width: 500px)
{
    h1.title{
        margin-top: 10%;
    }
}