*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif/* Mexer no font family aqui*/
}

body{
    min-height: 100%;
}
.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    z-index: 2;
}
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 5%;    
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
footer span{
    margin: 20px 20px;
}


footer .redes{
    margin-right: 5%;
}

img.rede-social{
    height: 32px;
    width: auto;
}

/* Estilização Navbar*/
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 5px;
}

a:hover{
    color: black;
    background-color: white;
    border-radius: 20%;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    
}

ul{
    margin-bottom: 0;
}

.logo img{
    height: 50px;
}

.perfil img{
    height: 35px;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    align-items: center;
    background: black;
    height: 8%;
    z-index: 3;
}

.main{
    height: 80%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 50px;
   /* margin-top: 10%;*/
}

.mobile-menu{
    display: none; /* Não aparecera por padrao*/
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;    
}


.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Responsividade*/
@media (max-width: 900px)
{

    body{
        overflow-x: hidden; /*não deixa mais a tela transbordar e aparecer a barra de rolagem*/
        overflow-y: scroll;
        background-color: black;
    }

    nav{
        position: fixed;
        width: 100%;
        height: 10%;
    }

    .nav-list{
        position: absolute; /*ficar onde quisermos*/
        top: 100%; /*espaçamento do tamanho da navbar*/
        right: 0;
        width: 50%; /* Tamanho da caixa do menu suspenso*/
        height: 30vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /*espaço entre os itens*/
        visibility: hidden;
        transition: transform 0.3s ease-in;
        opacity: 1 !important;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
        margin-top: 0;
    }
    
    .mobile-menu{
        display: block;
    }

    footer{
        flex-direction: column;
        height: 100px;
        margin: 0;
        position: fixed;
    }

    footer span{
        margin: 5px auto;
    }

    footer .redes {
        margin-right: 0px;
    }

    /*Classe que sera adicionada via JS*/
    .nav-list.active{
        visibility: visible;
        z-index: 3;
    }

    .endForm{
        height: 150px;
    }
    .btn-salvar{
        margin-top: 5%;
      
    }
    
}



@keyframes navLinkFade 
{
    from{
        opacity: 0;    
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

