@using TiroGuerra.Models
@{
    ViewBag.Title = "Guarnição";
    ViewBag.css = "/css/atirador.css";
}


    <div class="content">
        <div class="menu">
            <div class="modal fade" id="modal-mensagem">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h4 class="modal-title">Formulário de cadastro diário</h4>
                         </div>
                         <div class="modal-body">
                            <label for="fiscal">Fiscal de dia:</label>
                            <select name="fiscal" id="fiscal">
                               <option value="Amaro">Amaro</option>
                               <option value="João">João</option>
                               <option value="José">José</option>
                            </select>
                            <br>
                             <label for="Comandante">Comandante:</label>
                             <select name="comandante" id="comandante">
                                <option value="Amaro">Amaro</option>
                                <option value="João">João</option>
                                <option value="José">José</option>
                             </select>
                             <br>
                             <label for="Cabo">Cabo da guarda:</label>
                             <select name="cabo" id="cabo">
                                <option value="Amaro">Amaro</option>
                                <option value="João">João</option>
                                <option value="José">José</option>
                             </select>
                             <br>
                             <label for="sentinela">Sentinela:</label>
                             <select name="sentinela" id="sentinela">
                                <option value="Amaro">Amaro</option>
                                <option value="João">João</option>
                                <option value="José">José</option>
                             </select>
                           
                             <input type="submit" value="Adicionar">
                             <input type="submit" value="Limpar">

                             <ul>
                                <div class="myList">
                                    <li>Teste  <span onclick="deleteItem()">X</span> </li>  
                                </div>
                            </ul>
                            
                         </div>
                         <div class="modal-footer">
                            <input type="submit" data-dismiss="modal" value="salvar">
                        </div>
                         <div class="modal-footer">
                             <button type="button" class="close" data-dismiss="modal">Fechar</button>
                         </div>
                         
                     </div>
                 </div>
             </div>

             <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Outubro</th>
                      <th scope="col">11/10/2021</th>
                      <th scope="col">12/10/2021</th>
                      <th scope="col">13/10/2021</th>
                      <th scope="col">14/10/2021</th>
                      <th scope="col">15/10/2021</th>
                      <th scope="col">16/10/2021</th>
                      <th scope="col">17/10/2021</th>
                    </tr>
                  </thead>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Função</th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(1)">Segunda</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="Terça"   onclick="getId(2)">Terça</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(3)">Quarta</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(4)">Quinta</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(5)">Sexta</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(6)">Sabádo</button></th>
                    <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" id="segunda" onclick="getId(7)">Domingo</button></th>
                  </tr>
                </thead>
                <tbody>
                    <tr id="linha-fiscal">
                        <th scope="row">Fiscal de Dia</th>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                        <td>Vinicius</td>
                    </tr>
                    <tr id="linha-comandante">
                        <th scope="row">Comandante da Guarda</th>
                        <td>Amaro</td>
                        <td>Amaro</td>
                        <td>Amaro</td>
                        <td>Amaro</td>
                        <td>Amaro</td>
                        <td>Amaro</td>
                        <td>Amaro</td>
                    </tr>
                    <tr id="linha-cabo">
                        <th scope="row">Cabo da Guarda</th>
                        <td>Reis</td>
                        <td>Reis</td>
                        <td>Reis</td>
                        <td>Reis</td>
                        <td>Reis</td>
                        <td>Reis</td>
                        <td>Reis</td>
                    </tr>
                    <tr id="linha-sentinela01">
                        <th scope="row">Sentinela</th>
                        <td>José</td>
                        <td>José</td>
                        <td>José</td>
                        <td>José</td>
                        <td>José</td>
                        <td>José</td>
                        <td>José</td>
                        
                  </tr>
                    <tr id="linha-sentinela02">
                        <th scope="row">Sentinela</th>
                        <td>Alves</td>
                        <td>Alves</td>
                        <td>Alves</td>
                        <td>Alves</td>
                        <td>Alves</td>
                        <td>Alves</td>
                        <td>Alves</td>
                    </tr>

                    <tr id="linha-sentinela03">
                        
                        <th scope="row">Sentinela</th>
                        <td>João</td>
                        <td>João</td>
                        <td>João</td>
                        <td>João</td>
                        <td>João</td>
                        <td>João</td>
                        <td>João</td>
                        
                    </tr>

                    <tr id="linha-sentinela04">
                        <th scope="row">Sentinela</th>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        <td>Zanella</td>
                        
                    </tr>

                    <tr id="linha-sentinela05">
                        <th scope="row">Sentinela</th>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        <td>Almeida</td>
                        
                    </tr>  

                    <tr id="linha-sentinela06">
                        <th scope="row">Sentinela</th>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        <td>Gouveia</td>
                        
                    </tr>   
                
                        
                </tbody>
              </table>
              
              
             
           
        </div>
        <div class="lateral">
          <span>
            <input type="text"class="nome" name="nome" id="nome"> 
            <button class="glyphicon glyphicon-search"></button>
        </span>

        
        <div class="info">
            
            
            <div class="top">
            <p>Nome: Amaro</p>

            <p>folgas: 15</p>
        </div>
        </div>
          
        </div>
    </div>