@using TiroGuerra.Models;
@using System.Linq

@{
    ViewBag.Title = "Guarnição";
    ViewBag.css = "/css/guarnicaoindex.css";
    
}

<div class="content">




    <div class="calendario">
        <form method="get" action="/guarnicao/create" > <!--action="/guarnicao/create" -->
            <h1> Selecione um dia da semana para criar a guarnição semanal</h1>
            <input type="date" name="dataCriar" id="date"> 
            <input type="submit" value="selecionar">
        </form>
    </div>
      
 

    <div class="calendario">
        <form method="get" action="/guarnicao/update" > <!--action="/guarnicao/create" -->
            <h1>Selecione um dia da semana para alterar a guarnição semanal</h1>
            <input type="date" name="dataAlterar" id="date"> 
            <input type="submit" value="selecionar">
        </form>
    </div>

    @if(ViewBag.Message != null)
    {
        <div class='erro'>
             @ViewBag.Message
        </div>
    }
        
</div>