@using TiroGuerra.Models;
@using System.Linq

@{
    ViewBag.Title = "Guarnição";
    ViewBag.css = "/css/guarnicao.css";
}
<div class="content">
    <form method="get" action="/guarnicao/create" > <!--action="/guarnicao/create" -->
        <h1> Selecione uma data</h1>
        <input type="date" name="dataEscolhida" id="date"> 
        <input type="submit" value="selecionar">
    </form>
    
</div>